body {
  margin: 0;
}
.demo-full-width {
  width: 100%;
}

.jumbotron {
  border: 1px solid blue;
  padding: 10px;
  margin: 5px;
}

.margin-top {
  margin-top: 15px;
}
.margin-left {
  margin-left: 10px;
}
.radio-label-padding {
  padding-right: 10px;
  color: grey;
}
.form {
  margin-left: 10px;
  border: 2px solid lightgray;
  width: 600px;
  padding-left: 5px;
  margin-top: 10px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 60%;
  margin-right: 8px;
}

[nz-form] {
  max-width: 600px;
}

.add-button {
  width: 60%;
}

