<mat-form-field class="demo-full-width" [formGroup]="groupToBePopulated">
  <input matInput *ngIf="field?.name" [formControlName]="field.name || null" [placeholder]="field.label || null" [type]="field.inputType">
  <ng-container *ngFor="let validation of field?.validations" ngProjectAs="mat-error">
   <!-- <mat-error *ngIf="field && field?.name && groupToBePopulated.get(field.name)?.hasError(validation.name)">
      {{ validation.message }}
    </mat-error>-->
  </ng-container>
</mat-form-field>
